html {
  box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: #d5e8e6 !important;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  min-width: 256px;
  padding-top: 8px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

html {
  background: radial-gradient(circle, SkyBlue, SkyBlue 50%, LightCyan 50%, SkyBlue);
  background-size: 4px 4px;
}

nav ul {
  list-style-type: none;
  background-color: #B577B5;
  border: 2px solid #111111;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: bold;
  padding: 4px;
}
nav ul li {
  display: inline;
  border-right: 2px solid #111111;
  padding-right: 16px;
  padding-left: 16px;
}
nav ul li: last-child {
  border-right: none;
}
nav ul li a {
  text-decoration: none;
  color: #111111;
}

section {
  background-color: #FFFFFF;
  margin-bottom: 24px;
  min-height: 320px;
  padding-left: 24px;
  padding-right: 24px;
}

aside {
}

img.small {
  float: left;
  height: 200px;
  margin-bottom: 24px;
  margin-right: 24px;
}

img.medium {
  max-width: 360px;
  width: 50%;
}

img.large {
  width: 100%;
}

body, section, img {
  border: 2px solid #B1B1B1;
  border-radius: 16px;
}

aside {
  float: left;
  padding-left: 24px;
  width: 34%;
}

@media all and (min-width: 900px) {
  article {
    float: left;
    width: 65%;
  }
  aside {
    float: left;
    padding-left: 24px;
    width: 34%;
  }
}
